<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sxkeji.net.dailydiary" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".common.BaseApplication"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".common.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".common.activitys.MainActivity"
            android:label="@string/activity_main"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>

        <activity
            android:name=".common.activitys.Test2Activity"
            android:label="@string/activity_main"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>

        <activity
            android:name=".common.activitys.RecyclerTestActivity"
            android:label="@string/activity_test"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>

        <activity android:name=".common.activitys.TestActivity"
            android:label="@string/activity_test"
            android:launchMode="singleTop"/>

        <activity android:name=".common.activitys.WriteArticleActivity"
            android:label="@string/activity_write_article"
            android:launchMode="singleTop"
            />

    </application>

</manifest>
